# Puerto donde corre el servidor Express
PORT=

# Cadena de conexión a MongoDB. Ejemplo local: mongodb://localhost:27017/shipnow
MONGODB_URI=

# Entorno de ejecución. Valores esperados: development | production | test
NODE_ENV=